<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Day-of-Week Finder</title>
    </head>
    <body>
        <div class='container'>
            <h1>Day of Week from Date Calculator</h1>
            <h3>Input a date to find out what day of the week it falls on!</h3>
            <form action="/see_day">
                <input type="date" name="date">
                <button type="submit" name="button">Submit</button>
            </form>
        </div>
    </body>
</html>
